---
import type { CollectionEntry } from 'astro:content';

interface Props {
    class?: string;
}

import { getCollection } from 'astro:content';

const drivers = await getCollection('drivers')

import Driver from "../Driver.astro";

const { class: className = '' } = Astro.props;

const compound = (i: number) => i % 2 === 0 ? 'Soft' : i % 3 === 0 ? 'Hard' : 'Medium';
const position = (i: number): string => i === 0 ? 'Leader' : '+' + (i + Math.random()).toFixed(3);
---
<div class:list={['tower--body', className]}>
    <ol>
        {drivers.map((driver: CollectionEntry<'drivers'>, i: number) => (
            <li>
                <Driver
                    driver={driver}
                    compound={compound(i)}
                    position={position(i)} />
            </li>
        ))}
    </ol>
</div>
